html
	head
		title Survaka | Виживака
		link(href='style.css', rel='stylesheet')
		script(src='jquery-1.11.2.min.js')


	body

		div(style="display:inline-block;")
			form(action="/world")
				input(type="text" name="sname" id="sname" placeholder="[a-z]" )
				input(type="submit" value="start in world" )

		button(id="live" onclick="setNameToLive()" ) live

		script var setNameToLive= function() { window.location= "live?sname="+$("#sname").val(); }
