html
	head
		title Survaka | Виживака
		link(href='style.css', rel='stylesheet')
		script(src='jquery-1.11.2.min.js')

		script(src='microlib.js')
		script(src='live.js')


	body(  )

		div()

			span(id="health")
			span(id="fullness")
			span(id="tick")
			span(id="t")
			span(id="coordinates")

			br
			span(id="subject")
