html
	head
		title Survaka | Виживака
		link(href='style.css', rel='stylesheet')
		script(src='jquery-1.11.2.min.js')

		script(src='microlib.js')
		script(src='world.js')


	body(onkeyup="actionHandler(event)"  )

		div()
			table( border=1 cellspacing=0 class="shell" )
				- for (var i=dispH-1; i>=0; i--) {
					tr
						- for (var j=0; j<dispW; j++) {
							td(id="c"+i+"-"+j onclick="manipulate({ i:"+i+", j:"+j+" }, this)" )
						- }
				- }

			span(id="health")
			span(id="fullness")
			span(id="tick")
			span(id="t")
			span(id="coordinates")

			table( cellspacing=1  border=1 class="inventory" )
				tr
					- for (var n=1; n<=9; n++) {
						td(id="inv"+n onclick="choose("+n+")" class="active" ) $
					- }
