body {
  /*font-family: courier new;*/

}

.active:hover {
  font-weight: bold;
  cursor: pointer;
}

.shell {
  /*background:azure;*/
  margin: 5px;
}

.inventory {
  margin: 5px;
}

table.shell {
  border: 1px solid white;
}

td {
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: default;
}

#health {
  background-color: red;
}

#fullness {
  background-color: yellow;
}

#tick {
  background-color: grey;
}

span {
  margin: 5px;
  padding: 5px;
}

#self {
  color: green;
}

.others {
  color: red;
}
